#globalfooter {
    font-weight: normal;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%
}

#globalfooter,
#globalfooter:before,
#globalfooter:after,
#globalfooter *,
#globalfooter *:before,
#globalfooter *:after {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    pointer-events: auto;
    letter-spacing: normal
}

#globalfooter *,
#globalfooter *:before,
#globalfooter *:after {
    font-size: 1em;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-align: inherit
}

#globalfooter article,
#globalfooter aside,
#globalfooter details,
#globalfooter figcaption,
#globalfooter figure,
#globalfooter footer,
#globalfooter header,
#globalfooter nav,
#globalfooter section {
    display: block
}

#globalfooter img {
    border: 0;
    vertical-align: middle
}

#globalfooter ul {
    list-style: none
}

#globalfooter,
#globalfooter input,
#globalfooter textarea,
#globalfooter select,
#globalfooter button {
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: ltr;
    text-align: left
}

#globalfooter,
#globalfooter select,
#globalfooter button {
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}

#globalfooter input,
#globalfooter textarea {
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}

#globalfooter sup {
    font-size: 0.6em;
    vertical-align: top;
    position: relative;
    bottom: -0.2em
}

h1 #globalfooter sup,
h2 #globalfooter sup,
h3 #globalfooter sup {
    font-size: 0.4em
}

#globalfooter sup a {
    vertical-align: inherit;
    color: inherit
}

#globalfooter sup a:hover {
    color: #06c;
    text-decoration: none
}

#globalfooter sub {
    font-size: smaller;
    vertical-align: sub;
    line-height: 1
}

#globalfooter .gf-icon::before,
#globalfooter .gf-icon::after,
#globalfooter .gf-more::before,
#globalfooter .gf-more::after {
    font-family: "SF Pro Icons", "Apple Legacy Chevron";
    color: inherit;
    display: inline-block;
    font-style: normal;
    font-weight: inherit;
    font-size: inherit;
    line-height: 1;
    text-decoration: underline;
    position: relative;
    z-index: 1;
    alt: ''
}

#globalfooter .gf-icon::before,
#globalfooter .gf-icon::after,
#globalfooter .gf-more::before,
#globalfooter .gf-more::after {
    text-decoration: none
}

#globalfooter .gf-icon::before,
#globalfooter .gf-more::before {
    display: none
}

#globalfooter .gf-icon-after::after,
#globalfooter .gf-more::after {
    padding-left: .3em;
    top: 0
}

#globalfooter .gf-icon-before::before {
    padding-right: .3em;
    display: inline-block;
    top: 0
}

#globalfooter .gf-icon-before::after {
    display: none
}

#globalfooter .gf-icon-chevrondown::before,
#globalfooter .gf-icon-chevrondown::after {
    content: ""
}

#globalfooter .gf-icon-chevrondowncircle::before,
#globalfooter .gf-icon-chevrondowncircle::after {
    content: ""
}

#globalfooter .gf-icon-chevronleft::before,
#globalfooter .gf-icon-chevronleft::after {
    content: ""
}

#globalfooter .gf-icon-chevronleftcircle::before,
#globalfooter .gf-icon-chevronleftcircle::after {
    content: ""
}

#globalfooter .gf-icon-chevronright::before,
#globalfooter .gf-icon-chevronright::after {
    content: ""
}

#globalfooter .gf-icon-chevronrightcircle::before,
#globalfooter .gf-icon-chevronrightcircle::after {
    content: ""
}

#globalfooter .gf-icon-chevronup::before,
#globalfooter .gf-icon-chevronup::after {
    content: ""
}

#globalfooter .gf-icon-chevronupcircle::before,
#globalfooter .gf-icon-chevronupcircle::after {
    content: ""
}

#globalfooter .gf-icon-downloadcircle::before,
#globalfooter .gf-icon-downloadcircle::after {
    content: ""
}

#globalfooter .gf-icon-arrowupcircle::before,
#globalfooter .gf-icon-arrowupcircle::after {
    content: "􀁶"
}

#globalfooter .gf-icon-external::before,
#globalfooter .gf-icon-external::after {
    content: ""
}

#globalfooter .gf-icon-share::before,
#globalfooter .gf-icon-share::after {
    content: ""
}

#globalfooter .gf-icon-search::before,
#globalfooter .gf-icon-search::after {
    content: ""
}

#globalfooter .gf-icon-arkit::before,
#globalfooter .gf-icon-arkit::after {
    content: ""
}

#globalfooter .gf-icon-pausecircle::before,
#globalfooter .gf-icon-pausecircle::after {
    content: ""
}

#globalfooter .gf-icon-pausesolid::before,
#globalfooter .gf-icon-pausesolid::after {
    content: ""
}

#globalfooter .gf-icon-playcircle::before,
#globalfooter .gf-icon-playcircle::after {
    content: ""
}

#globalfooter .gf-icon-playsolid::before,
#globalfooter .gf-icon-playsolid::after {
    content: ""
}

#globalfooter .gf-icon-replay::before,
#globalfooter .gf-icon-replay::after {
    content: ""
}

#globalfooter .gf-icon-stopcircle::before,
#globalfooter .gf-icon-stopcircle::after {
    content: ""
}

#globalfooter .gf-icon-stopsolid::before,
#globalfooter .gf-icon-stopsolid::after {
    content: ""
}

#globalfooter .gf-icon-circle::before,
#globalfooter .gf-icon-circle::after {
    content: ""
}

#globalfooter .gf-icon-check::before,
#globalfooter .gf-icon-check::after {
    content: ""
}

#globalfooter .gf-icon-checkcircle::before,
#globalfooter .gf-icon-checkcircle::after {
    content: ""
}

#globalfooter .gf-icon-checksolid::before,
#globalfooter .gf-icon-checksolid::after {
    content: ""
}

#globalfooter .gf-icon-reset::before,
#globalfooter .gf-icon-reset::after {
    content: ""
}

#globalfooter .gf-icon-resetcircle::before,
#globalfooter .gf-icon-resetcircle::after {
    content: ""
}

#globalfooter .gf-icon-resetsolid::before,
#globalfooter .gf-icon-resetsolid::after {
    content: ""
}

#globalfooter .gf-icon-exclamation::before,
#globalfooter .gf-icon-exclamation::after {
    content: ""
}

#globalfooter .gf-icon-exclamationcircle::before,
#globalfooter .gf-icon-exclamationcircle::after {
    content: ""
}

#globalfooter .gf-icon-exclamationsolid::before,
#globalfooter .gf-icon-exclamationsolid::after {
    content: ""
}

#globalfooter .gf-icon-exclamationtriangle::before,
#globalfooter .gf-icon-exclamationtriangle::after {
    content: ""
}

#globalfooter .gf-icon-exclamationtrianglesolid::before,
#globalfooter .gf-icon-exclamationtrianglesolid::after {
    content: ""
}

#globalfooter .gf-icon-infocircle::before,
#globalfooter .gf-icon-infocircle::after {
    content: ""
}

#globalfooter .gf-icon-infosolid::before,
#globalfooter .gf-icon-infosolid::after {
    content: ""
}

#globalfooter .gf-icon-question::before,
#globalfooter .gf-icon-question::after {
    content: ""
}

#globalfooter .gf-icon-questioncircle::before,
#globalfooter .gf-icon-questioncircle::after {
    content: ""
}

#globalfooter .gf-icon-questionsolid::before,
#globalfooter .gf-icon-questionsolid::after {
    content: ""
}

#globalfooter .gf-icon-plus::before,
#globalfooter .gf-icon-plus::after {
    content: ""
}

#globalfooter .gf-icon-pluscircle::before,
#globalfooter .gf-icon-pluscircle::after {
    content: ""
}

#globalfooter .gf-icon-plussolid::before,
#globalfooter .gf-icon-plussolid::after {
    content: ""
}

#globalfooter .gf-icon-minus::before,
#globalfooter .gf-icon-minus::after {
    content: ""
}

#globalfooter .gf-icon-minuscircle::before,
#globalfooter .gf-icon-minuscircle::after {
    content: ""
}

#globalfooter .gf-icon-minussolid::before,
#globalfooter .gf-icon-minussolid::after {
    content: ""
}

#globalfooter .gf-icon-1circle::before,
#globalfooter .gf-icon-1circle::after {
    content: ""
}

#globalfooter .gf-icon-2circle::before,
#globalfooter .gf-icon-2circle::after {
    content: ""
}

#globalfooter .gf-icon-3circle::before,
#globalfooter .gf-icon-3circle::after {
    content: ""
}

#globalfooter .gf-icon-4circle::before,
#globalfooter .gf-icon-4circle::after {
    content: ""
}

#globalfooter .gf-icon-5circle::before,
#globalfooter .gf-icon-5circle::after {
    content: ""
}

#globalfooter .gf-icon-6circle::before,
#globalfooter .gf-icon-6circle::after {
    content: ""
}

#globalfooter .gf-icon-7circle::before,
#globalfooter .gf-icon-7circle::after {
    content: ""
}

#globalfooter .gf-icon-8circle::before,
#globalfooter .gf-icon-8circle::after {
    content: ""
}

#globalfooter .gf-icon-9circle::before,
#globalfooter .gf-icon-9circle::after {
    content: ""
}

#globalfooter .gf-icon-10circle::before,
#globalfooter .gf-icon-10circle::after {
    content: ""
}

#globalfooter .gf-icon-11circle::before,
#globalfooter .gf-icon-11circle::after {
    content: ""
}

#globalfooter .gf-icon-12circle::before,
#globalfooter .gf-icon-12circle::after {
    content: ""
}

#globalfooter .gf-icon-13circle::before,
#globalfooter .gf-icon-13circle::after {
    content: ""
}

#globalfooter .gf-icon-14circle::before,
#globalfooter .gf-icon-14circle::after {
    content: ""
}

#globalfooter .gf-icon-15circle::before,
#globalfooter .gf-icon-15circle::after {
    content: ""
}

#globalfooter .gf-icon-16circle::before,
#globalfooter .gf-icon-16circle::after {
    content: ""
}

#globalfooter .gf-icon-17circle::before,
#globalfooter .gf-icon-17circle::after {
    content: ""
}

#globalfooter .gf-icon-18circle::before,
#globalfooter .gf-icon-18circle::after {
    content: ""
}

#globalfooter .gf-icon-19circle::before,
#globalfooter .gf-icon-19circle::after {
    content: ""
}

#globalfooter .gf-icon-20circle::before,
#globalfooter .gf-icon-20circle::after {
    content: ""
}

#globalfooter .gf-icon-close::before,
#globalfooter .gf-icon-close::after {
    content: ""
}

#globalfooter .gf-icon-closecompact::before,
#globalfooter .gf-icon-closecompact::after {
    content: ""
}

#globalfooter .gf-icon-paddleleft::before,
#globalfooter .gf-icon-paddleleft::after {
    content: ""
}

#globalfooter .gf-icon-paddleleftcompact::before,
#globalfooter .gf-icon-paddleleftcompact::after {
    content: ""
}

#globalfooter .gf-icon-paddleright::before,
#globalfooter .gf-icon-paddleright::after {
    content: ""
}

#globalfooter .gf-icon-paddlerightcompact::before,
#globalfooter .gf-icon-paddlerightcompact::after {
    content: ""
}

#globalfooter .gf-icon-paddleup::before,
#globalfooter .gf-icon-paddleup::after {
    content: ""
}

#globalfooter .gf-icon-paddleupcompact::before,
#globalfooter .gf-icon-paddleupcompact::after {
    content: ""
}

#globalfooter .gf-icon-paddledown::before,
#globalfooter .gf-icon-paddledown::after {
    content: ""
}

#globalfooter .gf-icon-paddledowncompact::before,
#globalfooter .gf-icon-paddledowncompact::after {
    content: ""
}

#globalfooter .gf-icon-thumbnailreplay::before,
#globalfooter .gf-icon-thumbnailreplay::after {
    content: ""
}

#globalfooter .gf-icon-thumbnailpause::before,
#globalfooter .gf-icon-thumbnailpause::after {
    content: ""
}

#globalfooter .gf-icon-thumbnailplay::before,
#globalfooter .gf-icon-thumbnailplay::after {
    content: ""
}

#globalfooter .gf-icon-externalrtl::before,
#globalfooter .gf-icon-externalrtl::after {
    content: ""
}

#globalfooter .gf-icon-questionrtl::before,
#globalfooter .gf-icon-questionrtl::after {
    content: ""
}

#globalfooter .gf-icon-questioncirclertl::before,
#globalfooter .gf-icon-questioncirclertl::after {
    content: ""
}

#globalfooter .gf-icon-questionsolidrtl::before,
#globalfooter .gf-icon-questionsolidrtl::after {
    content: ""
}

#globalfooter .gf-more::before,
#globalfooter .gf-more::after {
    content: ""
}

#globalfooter .gf-more-block {
    margin-top: .5em
}

#globalfooter .gf-icon-wrapper .gf-icon,
#globalfooter .gf-icon-wrapper .gf-more:not(.gf-icon-before)::after,
#globalfooter .gf-icon-wrapper .gf-icon-before::before,
#globalfooter .gf-icon-wrapper .gf-icon-after::after {
    display: inline;
    position: static
}

#globalfooter a.gf-icon-wrapper {
    text-decoration: none
}

#globalfooter a.gf-icon-wrapper:hover .gf-icon-copy {
    text-decoration: underline
}

#globalfooter a.gf-block {
    box-sizing: border-box;
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: inherit
}

#globalfooter a.gf-block::before,
#globalfooter a.gf-block::after {
    content: ' ';
    display: table
}

#globalfooter a.gf-block::after {
    clear: both
}

#globalfooter a.gf-block:hover {
    text-decoration: none
}

#globalfooter a.gf-block:hover .gf-block-link {
    text-decoration: underline
}

#globalfooter a.gf-block .gf-block-link {
    color: #06c
}

#globalfooter .gf-block-link {
    cursor: pointer
}

#globalfooter a.gf-block-inline {
    display: inline-block
}

#globalfooter .gf-buystrip {
    --buystrip-background: #f5f5f7;
    --buystrip-border-color: #d2d2d7;
    --buystrip-text-color: #1d1d1f;
    --buystrip-link-color: #06c;
    --buystrip-icon-color: #6e6e73;
    --buystrip-content-maxwidth: 980px;
    --buystrip-content-padding: 22px;
    --buystrip-items-padding-top: 0;
    --buystrip-items-padding-bottom: 56px;
    color: var(--buystrip-text-color)
}

.globalfooter-dark #globalfooter .gf-buystrip,
#globalfooter.globalfooter-dark .gf-buystrip {
    --buystrip-background: #1d1d1f;
    --buystrip-border-color: #424245;
    --buystrip-text-color: #f5f5f7;
    --buystrip-link-color: #2997ff;
    --buystrip-icon-color: #86868b
}

@media only screen and (max-width: 833px) {
    #globalfooter .gf-buystrip {
        --buystrip-content-padding: 16px
    }
}

@media only screen and (max-width: 480px) {
    #globalfooter .gf-buystrip {
        --buystrip-items-padding-top: 8px
    }
}

#globalfooter .gf-buystrip-background {
    background: var(--buystrip-background)
}

.globalfooter-dark #globalfooter.gf-buystrip-background,
#globalfooter.globalfooter-dark.gf-buystrip-background {
    background: var(--buystrip-background)
}

#globalfooter .gf-buystrip-info {
    font-size: 14px;
    line-height: 1.42859;
    font-weight: 400;
    letter-spacing: -.016em;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: var(--buystrip-items-padding-top);
    padding-bottom: var(--buystrip-items-padding-bottom);
    text-align: center
}

#globalfooter .gf-buystrip-info-keyline,
#globalfooter .gf-buystrip-info {
    border-bottom: 1px solid var(--buystrip-border-color)
}

#globalfooter .gf-buystrip-info-column {
    flex: 1 25%;
    max-width: 410px
}

@media only screen and (max-width: 1023px) {
    #globalfooter .gf-buystrip-info-column {
        flex-basis: 50%
    }
}

@media only screen and (max-width: 480px) {
    #globalfooter .gf-buystrip-info-column {
        flex-basis: 100%
    }
}

@media only screen and (max-width: 1023px) {
    #globalfooter .gf-buystrip-info-column:last-child:nth-child(3) {
        flex-basis: 100%
    }
}

#globalfooter .gf-buystrip-info-column:first-child:nth-last-child(2),
#globalfooter .gf-buystrip-info-column:last-child:nth-child(2) {
    flex-basis: 50%
}

@media only screen and (max-width: 480px) {

    #globalfooter .gf-buystrip-info-column:first-child:nth-last-child(2),
    #globalfooter .gf-buystrip-info-column:last-child:nth-child(2) {
        flex-basis: 100%
    }
}

#globalfooter .gf-buystrip-info-content {
    margin: 0 auto;
    padding-top: 56px;
    position: relative;
    text-align: center;
    width: 216px;
    z-index: 1
}

@media only screen and (max-width: 734px) {
    #globalfooter .gf-buystrip-info-content {
        padding-top: 36px
    }
}

#globalfooter .gf-buystrip-info-icon {
    margin: 0 auto;
    height: 56px;
    color: var(--buystrip-icon-color)
}

#globalfooter .gf-buystrip-info-icon svg {
    width: auto;
    height: 100%
}

#globalfooter .gf-buystrip-info-title,
#globalfooter .gf-buystrip-info-copy,
#globalfooter .gf-buystrip-info-caption,
#globalfooter .gf-buystrip-info-cta {
    margin: 0
}

#globalfooter .gf-buystrip-info-title {
    font-size: 19px;
    line-height: 1.21053;
    font-weight: 600;
    letter-spacing: .012em;
    font-family: "SF Pro Display", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-top: .525em
}

#globalfooter .gf-buystrip-info-copy {
    display: block;
    margin-top: 0.4em
}

#globalfooter .gf-buystrip-info-copy+.gf-buystrip-info-column-copy {
    margin-top: 0.8em
}

#globalfooter .gf-buystrip-info-caption {
    display: block
}

#globalfooter .gf-buystrip-info-cta {
    color: var(--buystrip-link-color);
    margin-top: 0.8em;
    display: block
}

#globalfooter.no-js .gf-buystrip-info-cta-chat {
    display: none
}

@media only screen and (max-width: 480px) {
    #globalfooter .gf-buystrip-info-column:first-child .gf-buystrip-info-column-content {
        padding-top: 36px
    }
}

#globalfooter .gf-buystrip-elevated .gf-buystrip-info {
    font-size: 19px;
    line-height: 1.4211;
    font-weight: 400;
    letter-spacing: .012em;
    font-family: "SF Pro Display", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}

#globalfooter .gf-buystrip-elevated .gf-buystrip-info-column:first-child:nth-last-child(4),
#globalfooter .gf-buystrip-elevated .gf-buystrip-info-column:first-child:nth-last-child(4)~.gf-buystrip-info-column {
    flex-basis: 50%
}

@media only screen and (max-width: 480px) {

    #globalfooter .gf-buystrip-elevated .gf-buystrip-info-column:first-child:nth-last-child(4),
    #globalfooter .gf-buystrip-elevated .gf-buystrip-info-column:first-child:nth-last-child(4)~.gf-buystrip-info-column {
        flex-basis: 100%
    }
}

#globalfooter .gf-buystrip-elevated .gf-buystrip-info-content {
    width: 294px;
    padding-left: 8px;
    padding-right: 8px
}

@media only screen and (max-width: 480px) {
    #globalfooter .gf-buystrip-elevated .gf-buystrip-info-content {
        width: 240px;
        padding-left: 0;
        padding-right: 0
    }
}

#globalfooter .gf-buystrip-elevated .gf-buystrip-info-title {
    font-size: 21px;
    line-height: 1.19048;
    font-weight: 600;
    letter-spacing: .011em;
    font-family: "SF Pro Display", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-top: .53em
}

#globalfooter .gf-buystrip-hero {
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    direction: rtl;
    padding-top: 58px;
    text-align: center;
    padding-bottom: 4px
}

#globalfooter .gf-buystrip-hero::before,
#globalfooter .gf-buystrip-hero::after {
    content: ' ';
    display: table
}

#globalfooter .gf-buystrip-hero::after {
    clear: both
}

@media only screen and (max-width: 480px) {
    #globalfooter .gf-buystrip-hero {
        padding-bottom: 16px
    }
}

#globalfooter .gf-buystrip-hero-product {
    margin-right: 34px;
    display: inline-block;
    vertical-align: middle
}

@media only screen and (max-width: 833px) {
    #globalfooter .gf-buystrip-hero-product {
        margin-right: 0;
        margin-top: 22px
    }
}

#globalfooter .gf-buystrip-hero-block {
    direction: ltr;
    display: inline-block;
    text-align: left;
    vertical-align: middle
}

@media only screen and (max-width: 833px) {
    #globalfooter .gf-buystrip-hero-block {
        display: block;
        text-align: center
    }
}

#globalfooter .gf-buystrip-hero-title,
#globalfooter .gf-buystrip-hero-copy,
#globalfooter .gf-buystrip-hero-cta {
    margin: 0
}

#globalfooter .gf-buystrip-hero-title {
    font-size: 32px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .004em;
    font-family: "SF Pro Display", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-bottom: 3px
}

@media only screen and (max-width: 833px) {
    #globalfooter .gf-buystrip-hero-title {
        font-size: 24px;
        line-height: 1.16667;
        font-weight: 600;
        letter-spacing: .009em;
        font-family: "SF Pro Display", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif
    }
}

@media only screen and (max-width: 833px) {
    #globalfooter .gf-buystrip-hero-title {
        margin-left: auto;
        margin-right: auto
    }
}

#globalfooter .gf-buystrip-hero-copy {
    font-size: 19px;
    line-height: 1.21053;
    font-weight: 400;
    letter-spacing: .012em;
    font-family: "SF Pro Display", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}

#globalfooter .gf-buystrip-hero-cta {
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-top: 0.8em
}

#globalfooter {
    --footer-background: #f5f5f7;
    --footer-border-color: #d2d2d7;
    --footer-text-color: #6e6e73;
    --footer-link-color: #424245;
    --footer-pipe-color: #86868b;
    --footer-directory-title-color: #1d1d1f;
    --footer-directory-title-color-hover: #000;
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background: var(--footer-background);
    color: var(--footer-text-color);
    min-width: 1024px;
    overflow: hidden;
    position: relative;
    z-index: 1
}

.globalfooter-dark #globalfooter,
#globalfooter.globalfooter-dark {
    --footer-background: #1d1d1f;
    --footer-border-color: #424245;
    --footer-text-color: #86868b;
    --footer-link-color: #d2d2d7;
    --footer-pipe-color: #6e6e73;
    --footer-directory-title-color: #f5f5f7;
    --footer-directory-title-color-hover: #fff
}

@media only screen and (max-width: 1044px) {
    #globalfooter {
        min-width: 320px
    }
}

#globalfooter h1,
#globalfooter h2,
#globalfooter h3,
#globalfooter h4,
#globalfooter h5,
#globalfooter h6 {
    color: var(--footer-directory-title-color)
}

#globalfooter h1>button,
#globalfooter h2>button,
#globalfooter h3>button,
#globalfooter h4>button,
#globalfooter h5>button,
#globalfooter h6>button {
    color: var(--footer-directory-title-color)
}

#globalfooter a {
    color: var(--footer-link-color);
    text-decoration: none
}

#globalfooter a:hover {
    text-decoration: underline
}

#globalfooter a.gf-block {
    color: inherit;
    text-decoration: none
}

#globalfooter a.gf-block:hover {
    color: inherit
}

.globalfooter-dark #globalfooter a.gf-block,
#globalfooter.globalfooter-dark a.gf-block {
    color: inherit
}

.globalfooter-dark #globalfooter a.gf-block .gf-block-link,
#globalfooter.globalfooter-dark a.gf-block .gf-block-link {
    color: #2997ff
}

#globalfooter .gf-content {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
    padding-left: max(22px, env(safe-area-inset-left));
    padding-right: max(22px, env(safe-area-inset-right))
}

@media only screen and (max-width: 833px) {
    #globalfooter .gf-content {
        padding-left: max(16px, env(safe-area-inset-left));
        padding-right: max(16px, env(safe-area-inset-right))
    }
}

@media (prefers-contrast: more) {
    #globalfooter .gf-content a:link {
        text-decoration: underline
    }

    #globalfooter .gf-content a:link:hover {
        text-decoration: underline
    }
}

#globalfooter .gf-label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0
}

#globalfooter .gf-sosumi {
    border-bottom: 1px solid var(--footer-border-color);
    padding: 17px 0 11px
}

#globalfooter .gf-sosumi a {
    text-decoration: underline
}

#globalfooter .gf-sosumi ol {
    list-style-position: outside;
    margin: 0;
    padding: 0 17px
}

#globalfooter .gf-sosumi ol li {
    list-style-type: decimal
}

#globalfooter .gf-sosumi ul {
    list-style: none;
    margin: 0
}

#globalfooter .gf-sosumi li {
    padding-bottom: 0.8em
}

#globalfooter .gf-sosumi p,
#globalfooter .gf-sosumi li {
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}

#globalfooter .gf-sosumi small {
    font-size: 1em
}

#globalfooter .gf-breadcrumbs {
    padding: 17px 0;
    position: relative;
    z-index: 1;
    color: var(--footer-link-color)
}

#globalfooter .gf-breadcrumbs::before,
#globalfooter .gf-breadcrumbs::after {
    content: ' ';
    display: table
}

#globalfooter .gf-breadcrumbs::after {
    clear: both
}

@media only screen and (max-width: 833px) {
    #globalfooter .gf-breadcrumbs {
        border-bottom: 1px solid var(--footer-border-color)
    }
}

#globalfooter .gf-breadcrumbs-home {
    left: 0;
    position: absolute;
    z-index: 2;
    top: 17px
}

#globalfooter .gf-breadcrumbs-home:hover {
    text-decoration: none
}

#globalfooter .gf-breadcrumbs-home:hover .gf-breadcrumbs-home-icon {
    background-position-y: 100%
}

#globalfooter .gf-breadcrumbs-home-label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0
}

#globalfooter .gf-breadcrumbs-path {
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    position: relative;
    z-index: 1
}

#globalfooter .gf-breadcrumbs-path::before,
#globalfooter .gf-breadcrumbs-path::after {
    content: ' ';
    display: table
}

#globalfooter .gf-breadcrumbs-path::after {
    clear: both
}

#globalfooter .gf-breadcrumbs-list {
    max-height: 9999px;
    padding-left: 25px;
    direction: ltr;
    list-style: none
}

#globalfooter .gf-breadcrumbs-item {
    margin-right: 7px;
    float: left;
    padding: 3px 4px 3px 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

#globalfooter .gf-directory {
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    display: flex;
    flex-wrap: nowrap;
    padding-top: 20px
}

#globalfooter .gf-directory:last-child {
    padding-bottom: 28px
}

@media only screen and (max-width: 833px) {
    #globalfooter .gf-directory {
        flex-direction: column
    }
}

#globalfooter .gf-directory-column {
    flex-basis: 25%
}

@media only screen and (max-width: 833px) {
    #globalfooter .gf-directory-column {
        flex-basis: auto
    }
}

#globalfooter .gf-directory-column-section {
    pointer-events: none
}

@media only screen and (max-width: 833px) {
    #globalfooter .gf-directory-column-section {
        position: relative;
        z-index: 1;
        border-bottom: 1px solid var(--footer-border-color);
        overflow: hidden;
        pointer-events: auto
    }
}

#globalfooter .gf-directory-column-section~.gf-directory-column-section {
    padding-top: 24px
}

@media only screen and (max-width: 833px) {
    #globalfooter .gf-directory-column-section~.gf-directory-column-section {
        padding-top: 0
    }
}

#globalfooter .gf-directory-column-section-title-button,
#globalfooter .gf-directory-column-section-title>.gf-directory-column-section-title-text {
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 600;
    margin-right: 20px;
    margin-bottom: .8em;
    outline: none
}

#globalfooter .gf-directory-column-section-title-button {
    border: none;
    display: none
}

@media only screen and (max-width: 833px) {
    #globalfooter .gf-directory-column-section-title-button {
        font-weight: 400;
        display: block;
        margin: 0;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        color: var(--footer-directory-title-color);
        background: var(--footer-background);
        cursor: pointer;
        position: relative;
        -webkit-user-select: none;
        user-select: none;
        z-index: 2
    }

    #globalfooter .gf-directory-column-section-title-button:hover {
        color: var(--footer-directory-title-color-hover)
    }

    #globalfooter .gf-directory-column-section-title-button::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: -4px;
        bottom: 0;
        left: -4px
    }

    #globalfooter .gf-directory-column-section-title-button:focus::after {
        outline: 4px solid rgba(0, 125, 250, 0.6);
        outline-offset: -6px
    }

    #globalfooter .gf-directory-column-section-title-button:focus::after[data-focus-method="mouse"]:not(input):not(textarea):not(select),
    #globalfooter .gf-directory-column-section-title-button:focus::after[data-focus-method="touch"]:not(input):not(textarea):not(select) {
        outline: none
    }
}

#globalfooter .gf-directory-column-section-title-icon {
    display: none
}

@media only screen and (max-width: 833px) {
    #globalfooter .gf-directory-column-section-title-icon {
        display: flex;
        float: right;
        font-size: 14px;
        font-weight: normal;
        margin-top: -2px;
        margin-right: 8px;
        transition: transform .3s ease
    }
}

#globalfooter .gf-directory-column-section-title>.gf-directory-column-section-title-text {
    display: block
}

@media only screen and (max-width: 833px) {
    #globalfooter .gf-directory-column-section-title>.gf-directory-column-section-title-text {
        display: none
    }
}

#globalfooter .gf-directory-column-section-list {
    margin-right: 20px;
    list-style: none;
    padding: 0
}

@media only screen and (max-width: 833px) {
    #globalfooter .gf-directory-column-section-list {
        margin: 0;
        overflow: hidden;
        padding-top: 5px;
        padding-bottom: 16px;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        visibility: hidden;
        z-index: -1;
        transform: translateY(-100px);
        will-change: transform
    }

    #globalfooter.no-js .gf-directory-column-section-list {
        position: static;
        visibility: visible;
        transform: none
    }
}

#globalfooter .gf-directory-column-section-item {
    display: block;
    pointer-events: auto;
    margin-bottom: .8em
}

@media only screen and (max-width: 833px) {
    #globalfooter .gf-directory-column-section-item {
        margin-bottom: 0
    }
}

#globalfooter .gf-directory-column-section-item:last-child {
    margin-bottom: 0
}

@media only screen and (max-width: 833px) {
    #globalfooter .gf-directory-column-section-link {
        padding: 6px 14px;
        display: block
    }

    #globalfooter .gf-directory-column-section-link:focus {
        outline-offset: -6px
    }
}

@media only screen and (max-width: 833px) {
    #globalfooter .gf-directory-column-section.gf-directory-column-expanded .gf-directory-column-section-title {
        color: var(--footer-directory-title-color-hover)
    }

    #globalfooter .gf-directory-column-section.gf-directory-column-expanded .gf-directory-column-section-title-icon {
        transform: rotate(45deg) scale(1.08)
    }

    #globalfooter .gf-directory-column-section.gf-directory-column-expanded .gf-directory-column-section-list {
        position: static;
        visibility: visible;
        z-index: 1;
        transform: none;
        transition: transform 300ms ease
    }
}

#globalfooter .gf-breadcrumbs+.gf-directory {
    padding-top: 0
}

@media only screen and (max-width: 833px) {
    #globalfooter .gf-breadcrumbs+.gf-directory {
        padding-top: 0
    }
}

#globalfooter .gf-footer {
    border-top: 1px solid var(--footer-border-color);
    padding: 17px 0 21px;
    padding-bottom: calc(21px + constant(safe-area-inset-bottom))
}

@supports (padding: calc(max(0px))) {
    #globalfooter .gf-footer {
        padding-bottom: calc(max(21px, env(safe-area-inset-bottom)))
    }
}

#globalfooter .gf-footer:nth-child(2) {
    border-top: none
}

@media only screen and (max-width: 833px) {
    #globalfooter .gf-footer {
        padding-bottom: 19px;
        padding-bottom: calc(19px + constant(safe-area-inset-bottom))
    }

    @supports (padding: calc(max(0px))) {
        #globalfooter .gf-footer {
            padding-bottom: calc(max(19px, env(safe-area-inset-bottom)))
        }
    }
}

#globalfooter .gf-footer-shop {
    --footer-mini-shop-link-color: #06c;
    max-height: 9999px;
    padding-bottom: 3px
}

.globalfooter-dark #globalfooter .gf-footer-shop,
#globalfooter.globalfooter-dark .gf-footer-shop {
    --footer-mini-shop-link-color: #2997ff
}

@media only screen and (max-width: 833px) {
    #globalfooter .gf-footer-shop {
        padding-bottom: 10px
    }
}

#globalfooter .gf-footer-shop a,
#globalfooter .gf-footer-shop a:hover {
    color: var(--footer-mini-shop-link-color);
    text-decoration: underline
}

#globalfooter .gf-footer-locale {
    float: right;
    margin-top: 5px;
    position: relative;
    top: -3px;
    z-index: 2;
    white-space: nowrap
}

@media only screen and (max-width: 833px) {
    #globalfooter .gf-footer-locale {
        left: -1px;
        padding-top: 5px;
        float: none
    }
}

#globalfooter .gf-footer-locale-link {
    border-left: 1px solid var(--footer-pipe-color);
    margin-left: 7px;
    padding-left: 11px;
    display: inline
}

#globalfooter .gf-footer-locale-link:first-child {
    border-left: none;
    margin-left: 0;
    padding-left: 0
}

#globalfooter .gf-footer-legal {
    position: relative;
    top: -3px;
    z-index: 1
}

#globalfooter .gf-footer-legal::before,
#globalfooter .gf-footer-legal::after {
    content: ' ';
    display: table
}

#globalfooter .gf-footer-legal::after {
    clear: both
}

@media only screen and (max-width: 833px) {
    #globalfooter .gf-footer-legal {
        padding-top: 12px
    }
}

#globalfooter .gf-footer-legal-copyright,
#globalfooter .gf-footer-legal-links {
    margin-right: 30px;
    float: left;
    margin-top: 5px;
    list-style-type: none
}

@media only screen and (max-width: 833px) {

    #globalfooter .gf-footer-legal-copyright,
    #globalfooter .gf-footer-legal-links {
        margin-right: 0;
        float: none
    }
}

#globalfooter .gf-footer-legal-copyright {
    max-height: 9999px
}

#globalfooter .gf-footer-legal-links {
    position: relative;
    top: -5px;
    margin-inline-start: 0;
    z-index: 1
}

#globalfooter .gf-footer-legal-links-item {
    border-right: 1px solid var(--footer-pipe-color);
    margin-right: 7px;
    display: inline-block;
    margin-top: 5px
}

#globalfooter .gf-footer-legal-links-item:last-child {
    border: none;
    margin: 0;
    padding: 0
}

#globalfooter .gf-footer-legal-link {
    padding-right: 10px;
    display: inline-block;
    white-space: nowrap
}

#globalfooter .gf-buystrip+.gf-footer {
    border-top: none
}

#globalfooter .gf-sosumi+.gf-footer {
    border-top: none
}

@media only screen and (max-width: 833px) {
    #globalfooter .gf-breadcrumbs+.gf-footer {
        border-top: none
    }
}

#globalfooter .gf-directory+.gf-footer {
    padding-top: 34px;
    border-top: none
}

@media only screen and (max-width: 833px) {
    #globalfooter .gf-directory+.gf-footer {
        padding-top: 17px
    }
}

#globalfooter .gf-directory+.gf-footer .gf-footer-shop {
    margin-bottom: 7px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--footer-border-color)
}

@media only screen and (max-width: 833px) {
    #globalfooter .gf-directory+.gf-footer .gf-footer-shop {
        border-bottom: none
    }
}

#globalfooter .nowrap {
    white-space: nowrap
}

#globalfooter .gf-buystrip {
    text-align: center
}
